<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the best Movie Review website </title>
    {% endif %}
</head>

<body>

    <ul>
        {%for movie in popular_movies%}
        <li>{{movie.title}}</li>
        {%endfor%}
    </ul>
    <ul>
        {%for movie in upcoming_movies%}
        <li>{{movie.title}}</li>
        {%endfor%}
    </ul>
    <ul>
        {%for movie in now_showing_movies%}
        <li>{{movie.title}}</li>
        {%endfor%}
    </ul>

</body>

</html>